* {
    --mouse-angle: 827.6518536720241deg;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #ffffff;
    color: #000000;
    overflow-x: hidden;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    color: orange;
}

.hero {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
}

.hero-content h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    animation: fadeUp 1s ease;
}

.hero-content p {
    font-size: 1.4rem;
    margin-bottom: 30px;
    animation: fadeUp 1.5s ease;
}

.btn {
    display: inline-block;
    background: orange;
    color: white;
    padding: 15px 35px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    border: var(--mouse-angle);
}

.btn:hover {
    background: darkorange;
    transform: translateY(-5px);
}

/* ===== WHATSAPP BUTTON ===== */

.whatsapp-btn {
    position: fixed;
    bottom: 25px;
    right: 25px;

    width: 65px;
    height: 65px;

    background: #25d366;
    color: white;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 32px;

    text-decoration: none;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);

    z-index: 999;

    transition: 0.3s ease;
}

.whatsapp-btn:hover {
    transform: scale(1.1);
    background: #1ebe5d;
}

@media (max-width: 768px) {

    .whatsapp-btn {
        width: 58px;
        height: 58px;
        font-size: 28px;

        bottom: 20px;
        right: 20px;
    }
}

.section {
    padding: 77px 0;
    /* height: 1px; */
}

.section-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 50px;
    margin-top: 25px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.card {
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 250px;
    /* height: 714px; */
    object-fit: cover;
}

.card1 img {
    height: auto;
}

.card-content {
    padding: 20px;
}

/* ===== GALLERY SECTION ===== */

.gallery-section {
    padding: 100px 8%;
    background: #111;
    color: white;
}

.gallery-header {
    text-align: center;
    margin-bottom: 60px;
}

.gallery-header h2 {
    font-size: 3rem;
    margin-bottom: 15px;
    color: #f5b041;
}

.gallery-header p {
    color: #ccc;
    font-size: 1.1rem;
    max-width: 700px;
    margin: auto;
    line-height: 1.7;
}

/* GRID */

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

/* ITEM */

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
}

.gallery-item img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    transition: 0.5s ease;
    display: block;
}

/* HOVER EFFECT */

.gallery-item:hover img {
    transform: scale(1.1);
}

/* OVERLAY */

.gallery-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: 0.4s;
}

.gallery-item:hover .gallery-overlay {
    opacity: 1;
}

.gallery-overlay h3 {
    color: white;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

/* LIGHTBOX */

.lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.9);

    display: none;
    align-items: center;
    justify-content: center;

    z-index: 9999;
}

.lightbox img {
    max-width: 90%;
    max-height: 85%;
    border-radius: 15px;
}

.close-btn {
    position: absolute;
    top: 30px;
    right: 40px;

    font-size: 40px;
    color: white;
    cursor: pointer;
}

/* RESPONSIVE */

@media (max-width: 768px) {

    .gallery-header h2 {
        font-size: 2.2rem;
    }

    .gallery-item img {
        height: 250px;
    }
}

@media (max-width: 480px) {

    .gallery-section {
        padding: 80px 5%;
    }

    .gallery-header p {
        font-size: 1rem;
    }

    .gallery-item img {
        height: 220px;
    }
}

#reservation::before {
    content: "";
    position: absolute;
    background: url("../images/table.jpg") no-repeat center center/cover;
    height: 85%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input,
textarea {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    /* transition: 0.3s; */
}

/* input:hover,
textarea:hover {
    transform: translateY(-5px);
} */

#about {
    height: 94vh;
    /* background: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

#about::before {
    content: "";
    position: absolute;
    background: url("../images/res.jpg") no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

#contact::before {
    content: "";
    position: absolute;
    background: url("../images/contact.jpg") no-repeat center center/cover;
    height: 85%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 13px 0;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.hights {
    height: 93vh;
}

.burger {
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 15px;
    display: none;
}

.hum {
    height: 5px;
    background-color: white;
    width: 30px;
    margin: 3px;
    border-radius: 3px;
}

.black {
    color: white;
}

@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 3rem;
    }

    .hights {
        height: 98vh;
    }

    .navbar {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
        height: auto;
        transition: all 10.5s ease-out;
    }

    .display {
        display: none;
    }

    .logo {
        padding-bottom: 15px;
    }

    .burger {
        display: block;
    }
}